<h1>Audit Logs Dashboard</h1>

<table class="table table-hover">
	<thead>
		<tr>
			<th>
				#
			</th>
			<th>
				Employee
			</th>
			<th>
				Week Starting
			</th>
			<th>
				Confirmed At
			</th>
			<th>
				Status
			</th>
			<th>
				<!-- edit button -->
			</th>
			<th>
				<!-- delete button -->
			</th>
		</tr>
	</thead>
	<tbody id="audit_logs">
		<%= render @audit_logs %>
	</tbody>
</table>

<div id="paginator">
	<%= paginate @audit_logs, remote: true %> 
</div>