<div class='container-fluid'>
	<div class='row'>
		<div class='col-md-5 column jumbotron employee-blocks'>
			<h1>kwjenfwenf</h1>
		</div>

		<div class='col-md-5 column jumbotron employee-blocks'>
			<h1>kwjenfwenf</h1>
		</div>
	</div>
</div>