<div class='container-fluid'>
	<div class='row'>

		<div class='pending-homepage column jumbotron employee-blocks'>
			<h2 class='pending-heading'>Pending Your Confirmation</h2>
			<hr>
			<%= render partial: 'pending_audit_confirmations', local: {pending_audit_confirmations: @pending_audit_confirmations} %>
		</div>

		<div class='pending-homepage column jumbotron employee-blocks'>
			<h1>kwjenfwenf</h1>
		</div>		
	</div>
</div>